<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit recipe</title>
</head>
<body>
    <form action="/recipe/edit/{{recipe.id}}" method="POST">
        <div>
            <label>
                Name:
            </label>
            <input type="text" id="name" name="name" value="{{recipe.name}}" />
        </div>
        <div>
            <label for="description">
                Description
            </label>
            <textarea id="description" name="description"  value="{{recipe.description}}"></textarea>
        </div>
        <div>
            <label for="instructions">
                Instructions
            </label>
            <textarea id="instructions" name="instructions"  value="{{recipe.instructions}}"></textarea>
        </div>
        <div>
            <label for="created_at">
                Date made on:
            </label>
            <input type="date" id="date" name="created_at"  value="{{recipe.created_at}}">
        </div>
        <div>
            <label for="under_thirty">
                Under 30 minutes>
            </label>
            <input type="radio" name="under_thirty" value="1" {% if recipe.under_thirty == 1 %} checked {% endif %}/> Yes
            <input type="radio" name="under_thirty" value="0" {% if recipe.under_thirty == 0 %} checked {% endif %}> No
        </div>

        <div>
            <button type="submit">
                Update
            </button>




</body>
</html>