<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Table</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css' ) }}">
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th><h2>First Name</h2></th>
            <th><h2>Last Name</h2></th>
            <th><h2>Full Name</h2></th>
        </tr>
    </thead>
    <tbody>
        {% for i in users: %}
                <td>{{i['first_name']}}</td>
                <td>{{i['last_name']}}</td>
                <td>{{i['first_name']}} {{i['last_name']}} </td>
            </tr>
        {% endfor %}
            </tr>
    </tbody>
</table>



</body>
</html>

