<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground {{Level}}</title>
    <style>
        h1 {
        color: red;
        margin-left: 600px;
        margin-top: 200px;
    }
    
    .container {
        display: inline-flex;
        width: 80%;
        height: 1100px;
        justify-content: space-evenly;
        margin-top: 20px;
        flex-wrap: wrap;
    }
    
    .box1 {
        background-color: {{color}};
        height: 200px;
        width: 200px;
        border-style: groove;
        border-width: 2px;
        border-color: black;
    }
    </style>

</head>
<body>
    <h1>Welcome!</h1>
    <div class="container">
        {% for i in range( 0, num) %}
        <div class="box1">{{""}}</div>
        {% endfor %}
    </div>
    
    

</body>
</html>