* {
    margin:0px;
    padding:0px;
}

.container {
    background-color:whitesmoke;
    height:350px;
    width:650px;
    border-color: lightgrey;
    border-width: 4px;
    border-style: groove;
    justify-content: center;
    margin-top:150px;
    margin-left:250px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.topbar {
    background-color:darkcyan;
    height:100px;
    width:650px;
}

.topbar img {
    width:80px;
    height:80px;
    margin-top:50px;
    margin-left: 70px;
    border-radius:50%;
    border-width: 5px;
    border-style: groove;
}

h1 {
    margin-left:20px;
    margin-top:30px;
}

.locationbar {
    width:650px;
    height:40px;
    display:flex;
}

.locationbar img {
    width:10px;
    height:15px;
    margin-top:10px;
    margin-left: 20px;
    align-items: center;
}

h2 {
    font-size: medium;
    margin-left: 10px;
    margin-top:10px;
}

.descriptionbar {
    width:650px;
    height:40px;
}

h3 {
    font-size: small;
    margin-left: 20px;
    margin-top:10px;
}

.editprofile {
    width:650px;
    height:40px;
    display:flex
}

.editprofile img {
    width:15px;
    height:15px;
    margin-left:20px;
    margin-top:5px;
}

p {
    color:blue;
    text-decoration: underline;
    padding-left:10px;
    margin-top:5px;
}

